
<div class="laserSafteyBar" >
    <div class="top_bg">
        <div class="wrap">
            <div class="header">
                <div class="logo">
                    <a href="/"><img ng-src="/images/whiteLSILogo.png"  /></a>
                </div>
                <div class="log_reg">
                    <ul>
                        <li><a href="login.html">Login</a> </li>
                        <span class="log"> or </span>
                        <li><a href="register.html">Register</a> </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="web_search">
                    <form>
                        <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                        <input type="submit" value=" " />
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>